{% extends 'Home/base.html' %}
{% block title %}
View all Reviews of all Courses
{% endblock title %}

{% block main %}
<div class="max-w-screen-2xl mx-auto mt-10">
    <h2 class="text-2xl font-bold text-center text-gray-900">View all Reviews of Course: {{course.course_name}}</h2>
    {% if reviews|length != 0 %}
    <div class="flex flex-wrap justify-evenly align-middle mt-10">
        {% for review in reviews %}
        <div
            class="relative flex w-full max-w-[26rem] flex-col rounded-xl bg-transparent bg-clip-border text-gray-700 shadow-none m-3">
            <div
                class="relative flex items-center gap-4 pt-0 pb-8 mx-0 mt-4 overflow-hidden text-gray-700 bg-transparent shadow-none rounded-xl bg-clip-border">
                <img src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1480&amp;q=80"
                    alt="Tania Andrew"
                    class="relative inline-block h-[58px] w-[58px] !rounded-full  object-cover object-center" />
                <div class="flex w-full flex-col gap-0.5">
                    <div class="flex items-center justify-between">
                        <h5
                            class="block font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                            {{review.userid|title}}
                        </h5>
                        <div class="flex items-center gap-0 5">
                            {% for _ in ''|ljust:review.overall_rating %}
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                class="w-5 h-5 text-yellow-700">
                                <path fill-rule="evenodd"
                                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            {% endfor %}

                            
                            
                        </div>
                    </div>
                    <p class="block font-sans text-base antialiased font-light leading-relaxed text-blue-gray-900">
                        Overall Rating: {{review.overall_rating}}
                    </p>
                </div>
            </div>
            <div class="p-0 mb-6">
                <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
                    "{{review.review_desc}}"
                </p>
                <p><em class="text-bold text-gray-900">Relevence:</em> {{review.relevence}}</p>
                <p><em class="text-bold text-gray-900">Content Quality:</em> {{review.content_quality}}</p>
                <p><em class="text-bold text-gray-900">Instructor Expertise:</em> {{review.instructor_expertise}}</p>
                <p><em class="text-bold text-gray-900">Engagement:</em> {{review.engagement}}</p>
                <p><em class="text-bold text-gray-900">Clarity of Explanation:</em> {{review.clarity_of_explanation}}</p>
                <p><em class="text-bold text-gray-900">Practical Explanation:</em> {{review.practical_application}}</p>
                <p><em class="text-bold text-gray-900">Support Resources:</em> {{review.support_resources}}</p>
                <p><em class="text-bold text-gray-900">Feedback and Assesment:</em> {{review.feedback_and_assessment}}</p>
                <p><em class="text-bold text-gray-900">Flexibility:</em> {{review.flexibility}}</p>
                <p><em class="text-bold text-gray-900">Community and Networking Opportunities:</em> {{review.community_and_networking_opportunities}}</p>
                <p><em class="text-bold text-gray-900">Value for Money:</em> {{review.value_for_money}}</p>
            </div>
        </div>

        {% endfor %}

    </div>

    {% else %}
    <div role="alert"
        class="relative flex w-full px-4 py-4 text-base text-gray-900 rounded-lg font-regular bg-gray-900/10 my-5">
        <div class="mr-12 ">
            <span>No Reviews
                <a href="/add-course/" class="font-medium text-gray-900">
                    Add a review to help others
                </a>
                now.</span>
        </div>
    </div>
    {% endif %}
</div>
{% endblock main %}